{% extends 'admin/layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <section class="dashboard-card">
        <h1>Dashboard</h1>
        <p>Bienvenue dans l’espace d’administration SHOGGA.</p>
    </section>
{% endblock %}